.container{
    display: flex;
    flex-direction: column;
    
   
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
margin-left: 2rem;
margin-right: 2rem;

border: 5px solid black;
display: grid;
grid-template-columns: repeat(24, 24px);
grid-template-rows: repeat(24, 24px);


}



.square{
    background-color: white;
    border: 1px solid black;
}



.colorOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}

.white{
    background-color: white;
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.black{
    background-color: black;
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.green{
    background-color: green;
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.blue{
    background-color: blue;
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.red{
    background-color: red;
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.yellow{
    background-color: yellow;
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.purple{
    background-color: purple;
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.orange{
    background-color: orange;
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.current{
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.buttonRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   justify-content: center;
}

.buttonRow button{
    margin: 5px;
}