

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
margin-left: 1rem;
margin-right: 2rem;
border: 5px solid black;
display: grid;
grid-template-columns: repeat(12, 24px);
grid-template-rows: repeat(12, 24px);
height: max-content;



}



.square{
    background-color: white;
    border: 1px solid black;
   
}

.square:hover{
    background-color: var(--hover);
}



.colorOptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}

.colorBlock{
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.white{
    background-color: white;
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.black{
    background-color: black;
    border: 1px solid black;
    width: 24px;
    height: 24px;
}


.current{
    border: 1px solid black;
    width: 24px;
    height: 24px;
}

.buttonRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
   justify-content: center;
}

.buttonRow button{
    margin: 5px;
}